.me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.me__title {
    width: 70%;
    text-align: center;
    @include font($size: 7rem, $style: bold, $height: 7.5rem, $weight: 800);
    letter-spacing: 0.5rem;
}

.photo {
    display: block;
    width: 12%;
    flex-basis: fill;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px 0;
}

