.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.navigation__item {
    margin-left: 20px;
    padding: 0 10px;
    @include font ($size: 2rem, $height: 5rem, $weight: 200);
    &:hover {
        background-color: $color-primary;
        
    }
}