.footer {
    background-color: $color-secondary;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.rsslogo {
    width: 150px;
}

.footer__title {
    @include font ($size: 4rem, $weight:700, $height: 5rem)
}